/* For element level  */

html,
body {
    margin: 0;
}

main {
    margin-left: 151px;
}

header {
    margin-left: 231px;
}

hr {
    border-width: thin;
    border-color: black;
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}

.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}




.blog .carousel-indicators .active {
    background: #707070;
}

